.list {
  @apply relative my-[0.75em] pl-[1.75em];
}

.list:before {
  content: ' ';
  position: absolute;
  background-color: #d1d5db;
  width: 0.375em;
  height: 0.375em;
  left: 0.15em;
  top: calc(0.875em - 0.1875em);
  border-radius: 50%;
}
