@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgb(32 54 51 / var(--tw-bg-opacity));
}

* {
  box-sizing: border-box;
}
